@font-face {
	font-family: 'Myriad Pro';
	src: url('/fonts/MyriadPro-Regular.woff2') format('woff2');
	font-style:   normal;
	font-weight:  400;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('/fonts/MyriadPro-Light.woff2') format('woff');
	font-style:   normal;
	font-weight:  300;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('/fonts/MyriadPro-Semibold.woff2') format('woff');
	font-style:   normal;
	font-weight:  600;
}

* {
	position: relative;
	font-family: 'Myriad Pro';
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
/*End Reset*/
body {
	margin: 0 0 50px;
	background-color: #ddd;
}
#otter{
	max-width: 960px;
	margin: 50px auto 0;
}
#otter > div {display: none;}
ul {
	margin: 0;
	padding: 0;
}
ul#navigation {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	background-color: #999;
	font-size: 20px;
	text-align: center;
}
ul#navigation > li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	height: 32px;
}
ul#navigation > li:hover {
	background-color: #777;
}
ul#navigation > li > a {
	color: #fff;
	text-decoration: none;
}
ul#navigation > li > ul {
	height: 0px;
	overflow: hidden;
	transition: height .5s;
	position: absolute;
	padding: 0;
	top: 32px;
	text-align: left;
	margin-left: -10px;
	min-width: 100%;
}
ul#navigation > li > ul a {
	text-decoration: none;
	color: #000;
	display: block;
}
ul#navigation > li:hover > ul {
	height: 120px;
}
ul#navigation > li > ul > li {
	list-style-type: none;
	white-space: nowrap;
	border-style: solid;
	border-color: #aaa;
	border-width: 0 1px 1px;
	padding: 5px;
	background-color: #fff;
	font-size: 16px;
}
ul#navigation > li > ul > li:hover {
	background-color: #ccc;
}
#clients > ul, #vendors > ul {
	margin-right: 5px;
	height: 85vh;
	overflow-y: auto;
	width: 370px;
	float: left;
}
#otter > div > ul li {
	list-style-type: none;
	padding: 5px 35px 5px 5px;
	border-color: #aaa;
	border-style: solid;
	border-width: 1px 1px 0;
	background-color: #fff;
}
#otter > div > ul li:hover{
	background-color: #eee;
	cursor: pointer;
}
#otter > div > ul li:last-child{
	border-bottom-width: 1px;
}
#otter > div > ul li a {
	text-decoration: none;
	color: #000;
}
#otter > div > ul li a:hover{
	text-decoration: underline;
}
#otter > div > ul li span {
	position: absolute;
	right: 5px;
	top: 5px;
}
#otter > div > ul li a:hover, #otter > div > ul li span {
	color: #c00;
}
#clients > a {
	background-color: #c00;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
}
.client-vendor-information{
	float: left;
	width: 525px;
	margin-left: 20px;
	padding: 20px;
	overflow: auto;
}
.client-vendor-information > address {
	float: left;
	width: 35%;
	margin-bottom: 10px;
}
p.notes {
	float: left;
	width: 62%;
	margin: 0 0 10px 0;
	border-left: 1px solid #c00;
	padding-left: 2%;
}
.client-vendor-information > h2 {
	margin: 0;
}
.client-vendor-information > h3 {
	margin-top: 0;
}
.contact-list {
	clear: both;
	padding-top:10px;
	border-top: 1px solid #c00;
}
.contact-list p{
	margin: 0 0 10px 0;
}

#page-nav {
	float: left;
}
#page-nav li {
	background-color: #bbb;
	padding: 5px 10px;
	margin-bottom: 5px;
	border-right: 1px solid #000;
}
#page-nav li:hover {
	background-color: #000;
	color: #fff;
	border-right: 1px solid #fff;
	cursor: pointer;
}